.vscode
__pycache__
.venv
/.idea
/paper/acenet-paper.aux
/paper/acenet-paper.blg
/paper/acenet-paper.pdf
/paper/acenet-paper.synctex.gz
/paper/acenet-paper.log
/paper/acenet-paper.bbl
/tmp.ipynb
/train_results.json
/.ipynb_checkpoints
/.ipynb_checkpoints/tmp-checkpoint.ipynb
